.App {
  background-color: #1a1b21;
  /*background: linear-gradient(to bottom,red 50%, orange 57%, yellow 64%, green 71%, dodgerblue 78%, indigo 85%, violet 95%);*/
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  height: 780px;
  margin: 0 auto;
  max-width: 317px;
}

.card-img {
  background-color: antiquewhite;
  border-radius: 10px 10px 0 0;
  height: 50%;
  width: 100%;
}

.card-body {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 399px;
  justify-content: space-evenly;
}

.card-title {
  font-size: 1.25rem;
  margin: 21 auto;
}

.card-position {
  color: goldenrod;
  font-size: .75rem;
  margin-top: 0;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 6px;
  font-size: .875rem;
  height: 34px;
  margin: .5rem;
  width: 115px;
}

.card-btn-email {
  background-color: white;
}

.card-btn-linkedIn {
  background-color: #5093e2;
  color: white;
}

.card-subheading {
  align-self: flex-start;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0 36px;
}

.card-text {
  align-self: flex-start;
  font-size: .625rem;
  line-height: 150%;
  padding: 0 36px;
}

.card-footer {
  align-items: center;
  background-color: #161619;
  border-radius: 0 0 10px 10px;
  color: #918e9b;
  display: flex;
  height: 64px;
  justify-content: center;
}